body {

    font-family: Arial, sans-serif;
   font-size: 110%;
   background-color: rgba(0, 0, 0, 0.881);    
   margin: 0;
   padding: 0;
   color: aliceblue;
}
    

#header {   
   font-family: sans-serif;
   background-color: #444444;    
   color: #fffbfb;
   text-align: center; 
   padding: 10px;
   border-radius: 0% 0% 20% 20%
   
  
}   

#profile-image {
   max-width: 200px;
   border-radius: 50%;
   display: block;
   margin: 0 auto;
}

#main-content {
   padding: 20px;
}

#body {
   text-align: center;
   padding: 50px;  
}

